{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% load socialaccount %}
{% include 'include/header.html' %}
      <!-- Login Area Start -->
      <section class="filmoja-login-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="auth-box-right">
                     <h3>Первый раз в Online Cinema ?</h3>
                     <div class="login-box">
                        <h4>Создать ПРОФИЛЬ здесь </h4>
                        <p>Создай аккаунт и получи
                           30 дней подписки бесплатно.</p>
                        <a href="{% url 'register' %}">Регистрация здесь</a>
                     </div>
                     
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="auth-box-left margin-top">
                     <h3>login Please!</h3>
                     <div class="login-box">
                        <form>
                           <p>
                              <label for="username">Имя пользователя</label>
                              <input type="text" name="username" id="username" placeholder="Username" >
                           </p>
                           <p>
                              <label for="password">Пароль</label>
                              <input type="password" name="password" id="password" placeholder="Password" >
                           </p>
                           <p>
                              <button type="submit" >Логин</button>
                           </p>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Login Area End -->
       
       
      <!-- Footer Area Start -->
      {% include 'include/footer.html' %}    

      <!-- Footer Area End -->
       
       
{% endblock %}