{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% load socialaccount %}
{% include 'include/header.html' %} 
     <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="breadcrumb-box">
                    <h2>Регистрация</h2>
                    <ul>
                       <li><a href="{% url 'index' %}"> Главная страница </a></li>
                       <li class="active-breadcromb" >Регистрация </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Breadcrumb Area End -->
      
      
     <!-- Login Area Start -->
     <section class="filmoja-login-area section_70">
        <div class="container">
           <div class="row">
              <div class="col-lg-6">
                 <div class="auth-box-right">
                    <h3>Есть Аккаунт ?</h3>
                    <div class="login-box">
                       <h4>Войдите или зарегистрируйтесь</h4>
                      <p> Чтобы пользоваться сервисом на любом устройстве.</p>
                       
                       <a href="{% url 'user_login' %}">Войти</a>
                    </div>
                 </div>
              </div>
              <div class="col-lg-6">
                 <div class="auth-box-left margin-top">
                    <h3>Зарегистрировать </h3>
                    <div class="login-box">
                       <form>
                          <div class="row">
                             <div class="col-lg-6">
                                <p>
                                   <label for="ful_name">Имя пользователя </label>
                                   <input type="text" name="ful_name" id="ful_name" placeholder="Full Name">
                                </p>
                             </div>
                             <div class="col-lg-6">
                                <p>
                                   <label for="Email">Email Адрес </label>
                                   <input type="email" name="Email" id="Email" placeholder="Email Address">
                                </p>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6">
                                <p>
                                   <label for="password">Пароль </label>
                                   <input type="password" name="password" id="password" placeholder="Password">
                                </p>
                             </div>
                             <div class="col-lg-6">
                                <p>
                                   <label for="password2">Подвердить пароль </label>
                                   <input type="password" name="password2" id="password2" placeholder="Confirm Password">
                                </p>
                             </div>
                          </div>
                          <div class="row">
                             <div class="col-md-12">
                                <p>
                                   <button type="submit">Регистрация</button>
                                </p>
                             </div>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Login Area End -->
     {% include 'include/footer.html' %}    

{% endblock %}