{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}

      <!-- Header Area Start -->
      <header class="filmoja-header-area">
       {% include 'include/header.html' %}     
         <!-- Header Top Area End -->
          
         <!-- Main Header Area Start -->

         <!-- Main Header Area End -->
          
      </header>
      <!-- Header Area End -->
       
       
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>404</h2>
                     <ul>
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li class="active-breadcromb">Ошибка 404</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- Notfound Area Start -->
      <section class="filmoja-notfound-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="notfound-box">
                     <h1>О<span class="fa fa-frown-o"></span>Й</h1>
                     <h3>Этой страницы больше нет.
                        А может никогда и не было ? </h3>
                     <a href="{% url 'index' %}">Перейти на главную </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Notfound Area End -->
       
       
      <!-- Footer Area Start -->
      {% include 'include/footer.html' %} 
      <!-- Footer Area End -->
{% endblock %}

