{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
       
       
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>О нас</h2>
                     <ul>
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li class="active-breadcromb">О нас</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- About Page Area Start -->
      <section class="filmoja-about-page-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="about-slider owl-carousel">
                     <div class="single-about-slider">
                        <img src="assets/img/slider-1.jpeg" alt="sldier" />
                     </div>
                     <div class="single-about-slider">
                        <img src="assets/img/slider-4.jpeg" alt="sldier" />
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="about-page-text">
                     <h3>about our journey</h3>
                     <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumod tempor nt ut labore et dolore magna aliqua. Ut enim ad minim veniams nostrudullamco laboris nisi ut aliquip</p>
                     <p>Duis aute irure dolor in it in voluptate it esscillumiore eu fugiat nulla pariatur. Excepteur sint occaeat idatat non proident, sunt in culpa qui officia deserunt mollit anim id estnm. ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor- emque totam remquae.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Page Area End -->
       
       
      <!-- Feature Area Start -->
      <section class="filmoja-feature-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="filmoja-heading">
                     <h2>{{ home.title }}<span> Функции</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="features_box">
                     <ul class="features_box_list">
                        <li class="features_item">
                           <div class="inner pad_bottom">
                              <div class="features_icon">
                                 <i class="fa fa-desktop"></i>
                              </div>
                              <div class="features_part">
                                 <div class="features_title">
                                    <h3><a href="#">Ultra HD Video</a></h3>
                                 </div>
                                 <div class="definition">
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.</p>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="features_item">
                           <div class="inner pad_bottom">
                              <div class="features_icon">
                                 <i class="fa fa-globe"></i>
                              </div>
                              <div class="features_part">
                                 <div class="features_title">
                                    <h3><a href="#">Language Subtitles </a></h3>
                                 </div>
                                 <div class="definition">
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.</p>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="features_item ">
                           <div class="inner pad_bottom">
                              <div class="features_icon">
                                 <i class="fa fa-trophy"></i>
                              </div>
                              <div class="features_part">
                                 <div class="features_title">
                                    <h3><a href="#">Awards winning</a></h3>
                                 </div>
                                 <div class="definition">
                                    <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first.</p>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Feature Area End -->
       
       
      <!-- Partner Area Start -->
      <section class="filmoja-partner-area section_b_50">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="filmoja-heading">
                     <h2>Наши<span>Партнеры</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="partners-slider owl-carousel">
                     <div class="single-partners">
                        <a href="#">
                        <img src="assets/img/brand-2.png" alt="partners" />
                        </a>
                     </div>
                     <div class="single-partners">
                        <a href="#">
                        <img src="assets/img/brand-1.png" alt="partners" />
                        </a>
                     </div>
                     <div class="single-partners">
                        <a href="#">
                        <img src="assets/img/brand-3.png" alt="partners" />
                        </a>
                     </div>
                     <div class="single-partners">
                        <a href="#">
                        <img src="assets/img/brand-4.png" alt="partners" />
                        </a>
                     </div>
                     <div class="single-partners">
                        <a href="#">
                        <img src="assets/img/brand-5.png" alt="partners" />
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Partner Area End -->
       
       
      {% include 'include/footer.html' %}     
{% endblock %}


