{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
              
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>Наши контакты</h2>
                     <ul>
                        <li><a href="{% url 'index' %}">Домой</a></li>
                        <li class="active-breadcromb">Свяжеться с нами </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- Contact Page Start -->
      <section class="filmoja-contact-page section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="contact-box-left">
                     <div class="support-box">
                        <div class="support-icon">
                           <i class="fa fa-user-o"></i>
                        </div>
                        <div class="support-text">
                           <h3>24/7 Подержка </h3>
                           <a href="{{ home.facebook }}">наши контакты</a>
                        </div>
                     </div>
                     <div class="contact-info">
                        <div class="row">
                           <div class="col-lg-6">
                              <div class="single-contact-info">
                                 <p>Главный Офис</p>
                                 <h4>IT RUN <br> OSH </h4>
                              </div>
                              <div class="single-contact-info">
                                 <p> Подпишись </p>
                                 <ul>
                                    <li><a href="{{ home.facebook }}"><i class="fa-brands fa-facebook"></i></a></li>
                                    <li><a href="{{ home.google }}"><i class="fa-brands fa-google"></i></a></li>
                                    <li><a href="{{ home.linkedin }}"><i class="fa-brands fa-linkedin"></i></a></li>
                                    <li><a href="{{ home.pinterest }}"><i class="fa-brands fa-pinterest-square"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="single-contact-info">
                                 <p>Позвони</p>
                                 <h4>{{ home.tel }}</h4>
                              </div>
                              <div class="single-contact-info">
                                 <p>Наши email</p>
                                 <h4>{{ home.email }}</h4>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="contact-box-right margin-top">
                     <h3>Не будь чужим !</h3>
                     <form>
                        <p>
                           <input type="text" id="f_name" name="name" placeholder="Your Name">
                        </p>
                        <p>
                           <input type="email" name="email" id="eml" placeholder="Email Address">
                        </p>
                        <p>
                           <input type="text" id="sub" name="subject" placeholder="Subject">
                        </p>
                        <p>
                           <textarea placeholder="Write your message here..." id="msg"></textarea>
                        </p>
                        <p>
                           <button type="submit"> Отправь смс </button>
                        </p>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Contact Page End -->
      {% include 'include/footer.html' %}     
{% endblock %}      
       
 