{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
         
      <!-- Slider Area Start -->
    
      <section class="filmoja-slider-area fix">
         <div class="filmoja-slide owl-carousel" >
            {% for slide in slide_movies %}  
            <div class="filmoja-main-slide slide-item-2">
               <div class="filmoja-main-caption">
                  <div class="filmoja-caption-cell">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-12">
                              <div class="slider-content-holder">
                                 <div class="slider-play">
                                    <div class="popup-youtube" href="{{ slide.movie_trailer }}">
                                       <div class="slider-text">
                                          <h5 >{{ slide.genre }}</h5>
                                          <h4>{{ slide.title }}</h4>
                                       <p class="release-slider">{{ slide.year_of_issue }}</p>
                                      <div> <img  src="{{ slide.main_movie_image.url }}"  >
                                          <i class="fa fa-play"></i> Смотреть трейлер
                                       </div>
                                    </div>                                   
                                 </div>                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}   
            </div>
         </div>
      </div>
   </section>
      <!-- Slider Area End -->
       
      <!-- self add carousel start -->
         <!-- <div class="container mt-5 ">
            <div class="owl-carousel">
               {% for slide in slide_movies %}
               <div class="ms-2 me-2">
                  <div class="card">
                           <div><img src="{{ slide.main_movie_image.url }}" alt="" class="card-img-top">
                           <div class="card-body">
                              <h5 class="card-title"> image-title </h5>
                              this is my image
                              
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div> -->
      <!-- self add carousel End -->
      <!-- Top Movies Area Start -->
      <section class="filmoja-top-movies-area section_70">
         <div class="container">
         
            <div class="row">
               <div class="col-md-12">
                  <div class="filmoja-heading">
                     <h6>{{ home.title }} </h6>
                     <h2>Топовые :<span> 2022 года</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="top-movie-slider owl-carousel">
                     {% for movie in most_popular_movie %}
                     <div class="single-top-movie">
                        <div class="top-movie-wrap">
                           <div class="top-movie-img" >
                              <a href="{% url 'single-movie' movie.id %}">
                              <img src="{{ movie.main_movie_image.url }}" alt="top movies" style="size: 100px;" />
                              </a>
                           </div>
                           <div class="thumb-hover">
                              <a class="play-video" href="{{ movie.movie_trailer }}"><i class="fa fa-play"></i></a>

                              <div class="thumb-date">
                                 <span>05:30</span>
                              </div>
                           </div>
                        </div>
                        <div class="top-movie-details">
                           <h4><a href="{% url 'single-movie' movie.id  %}">{{ movie.title }}</a></h4>
                           <div class="movie-details-thumbs">
                              <ul>
                                 <li>
                                    <a href="#"><i class="fa fa-thumbs-up"></i>
                                    256</a>
                                 </li>
                                 <li>
                                    <a href="#"><i class="fa fa-eye"></i>45</a>
                                 </li>
                                 <li>
                                    <a href="#"><span class="rating"><i class="fa fa-star"></i>{{ movie.rating }}</span></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
               </div>
            </div>
         </div>
      </section>
      <!-- Top Movies Area End -->
       
       
      <!-- Theater Area Start -->
      <section class="filmoja-theater-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="theater-left">
                     {% for genre in one_random_genre %}
                     <div class="theater-box">
                        <div class="theater-text">
                           <h3>Сегодня в кино</h3>
                           <h4>{{ genre.genre }}</h4>
                           <p>Забронируй место, пока не пропустил завтра.</p>
                           <a href="#" class="filmoja-btn">Узнать все</a>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="theater-slider slider-for">
                     <div class="single-theater">
                        <img src="{% static 'assets/img/theater.jpeg' %}" alt="theater thumb" />
                        <a class="play-video" href="https://www.youtube.com/watch?v=1Q8fG0TtVAY">
                        <i class="fa fa-play"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Theater Area End -->
       
       
      <!-- Tv Movies Area Start -->
      <section class="filmoja-tv-movies-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="filmoja-heading">
                     <h6>{{ home.title }} </h6>
                     <h2>Популярные <span>Фильмы </span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="tv-panel-list">
                  
                     <div class="tv-tab">
                        <ul class="nav nav-pills tv-tab-switch" id="pills-tab" role="tablist">
                           <li class="nav-item">
                              <a class="nav-link active" id="pills-popular-tab" data-toggle="pill" href="#pills-popular" role="tab" aria-controls="pills-popular" aria-selected="true">Новинки</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" id="pills-upcoming-tab" data-toggle="pill" href="#pills-upcoming" role="tab" aria-controls="pills-upcoming" aria-selected="false">Сериалы</a>
                           </li>
                          
                        </ul>
                     </div>
                     
                     <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                           <div class="tab-movies">
                              <div class="row">
                                 {% for movie in one_random_movie %}
                                 <div class="col-lg-3 col-sm-6">
                                    <div class="single-top-movie">
                                       <div class="top-movie-wrap">
                                          <div class="top-movie-img">
                                             <a href="#"><img src="{{ movie.main_movie_image.url }}" alt="top movies" />
                                             </a>
                                          </div>
                                          <div class="thumb-hover">
                                             <a class="play-video" href="{{ movie.movie_trailer }}"><i class="fa fa-play"></i></a>
                                             <div class="thumb-date">
                                                <span>05:30</span>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="top-movie-details">
                                          <h4><a href="#">{{ movie.title }}</a></h4>
                                          <div class="movie-details-thumbs">
                                             <ul>
                                                <li>
                                                   <a href="#"><i class="fa fa-thumbs-up"></i>
                                                   256</a>
                                                </li>
                                                <li>
                                                   <a href="#"><i class="fa fa-eye"></i>45</a>
                                                </li>
                                                <li>
                                                   <a href="#"><span class="rating"><i class="fa fa-star"></i>{{ movie.rating }}</span></a>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 {% endfor %}
                              </div>
                              <!-- End Row -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Tv Movies Area End -->
       
       
      <!-- Quote Area Start -->
      <section class="filmoja-quote-area section_100">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="quote-box">
                     <h4>Боевик, Приключения, Фэнтези</h4>
                     <h3>Узнай первым</h3>
                     <a href="#" class="mouse-icon hidden-sm"><span class="wheel"><i class="fa fa-long-arrow-down"></i></span></a>
                     <form>
                        <input type="email" placeholder="E-mail Адрес...">
                        <button type="submit">Подпишись</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Quote Area End -->
       
       
      <!-- News Area Start -->
      <!-- <section class="filmoja-news-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="filmoja-heading">
                     <h6>{{ home.title }} </h6>
                     <h2>Последние <span>Новости</span></h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-6">
                  <div class="single-news-item">
                     <div class="news-image">
                        <a href="#">
                        <img src="{% static 'assets/img/big_news.jpg' %}" alt="news" />
                        </a>
                        <div class="news-date">
                           <span class="date">12</span>
                           <span class="month">nov</span>
                        </div>
                     </div>
                     <div class="news-text">
                        <h3><a href="#">Win a Wizarding World holiday with Fantastic</a></h3>
                        <div class="post-meta">
                           <p><a href="#"><i class="fa fa-user"></i>David Cassidy</a></p>
                           <p><a href="#"><i class="fa fa-tags"></i>Cycling</a></p>
                        </div>
                        <div class="post-content">
                           <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="news-side-list">
                     <div class="single-news-side">
                        <div class="news-side-img">
                           <a href="#"><img src="assets/img/news-side-1.jpg" alt="side news" /></a>
                           <div class="news-date">
                              <span class="date">12</span>
                              <span class="month">nov</span>
                           </div>
                        </div>
                        <div class="news-side-text">
                           <h4><a href="#">Doctor Strange assembles with the Avengers</a></h4>
                           <div class="post-meta">
                              <p><a href="#"><i class="fa fa-user"></i>David Cassidy</a></p>
                              <p><a href="#"><i class="fa fa-tags"></i>Cycling</a></p>
                           </div>
                           <div class="post-content">
                              <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3">
                  <div class="news-side-list">
                     <div class="single-news-side">
                        <div class="news-side-img">
                           <a href="#"><img src="assets/img/news-side-2.jpg" alt="side news" /></a>
                           <div class="news-date">
                              <span class="date">12</span>
                              <span class="month">nov</span>
                           </div>
                        </div>
                        <div class="news-side-text">
                           <h4><a href="#">Doctor Strange assembles with the Avengers</a></h4>
                           <div class="post-meta">
                              <p><a href="#"><i class="fa fa-user"></i>David Cassidy</a></p>
                              <p><a href="#"><i class="fa fa-tags"></i>Cycling</a></p>
                           </div>
                           <div class="post-content">
                              <p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> -->
      <!-- News Area End -->
      {% include 'include/footer.html' %}     
{% endblock %}
