{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
         
      <!-- Header Area End -->
       
       
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>blog Details</h2>
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active-breadcromb">single blog</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- Blog Page Start -->
      <section class="filmoja-blog-page section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-8">
                  <div class="blog-page-list single-blog-page">
                     <div class="single-news-item">
                        <div class="news-image">
                           <img src="assets/img/blog-2.jpg" alt="news" />
                           <div class="news-date">
                              <span class="date">12</span>
                              <span class="month">nov</span>
                           </div>
                        </div>
                        <div class="news-text">
                           <h3>Win a Wizarding World holiday with Fantastic</h3>
                           <div class="post-meta">
                              <p><a href="#"><i class="fa fa-user"></i>David Cassidy</a></p>
                              <p><a href="#"><i class="fa fa-tags"></i>Cycling</a></p>
                           </div>
                           <div class="post-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, eiquis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in erepre ahenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur etascisint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est. </p>
                              <p>Complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know pursue pleasure rationally encounter consequences that are extremely.</p>
                              <blockquote>
                                 <div class="quote-inner">
                                    <i class="quote-icon fa fa-quote-right"></i>
                                    <div class="quote-text">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</div>
                                 </div>
                              </blockquote>
                              <ul class="company-desc-list">
                                 <li><i class="fa fa-check"></i> Sed consectetur tellus eget odio aliquet</li>
                                 <li><i class="fa fa-check"></i> Morbi maximus metus vitae mollis ante imperdiet</li>
                                 <li><i class="fa fa-check"></i> tellus eget vestibulum tellus sollicitudin</li>
                                 <li><i class="fa fa-check"></i> eros consectetur lectus tellus eget odio aliquet</li>
                                 <li><i class="fa fa-check"></i> Morbi maximus metus vitae mollis ante imperdiet</li>
                                 <li><i class="fa fa-check"></i> tellus eget vestibulum tellus sollicitudin</li>
                              </ul>
                              <p>Duis aute irure dolor in erepre ahenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur etascisint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                              <div class="comment-box">
                                 <h3>3 comments</h3>
                                 <ul>
                                    <li>
                                       <div class="single-comment-history">
                                          <div class="single-comment-list">
                                             <div class="main-comment">
                                                <div class="candidate-image">
                                                   <img alt="author" src="assets/img/msg-2.png">
                                                </div>
                                                <div class="candidate-text">
                                                   <div class="candidate-info">
                                                      <div class="candidate-title">
                                                         <h3><a href="#">Jennie Wilson</a></h3>
                                                      </div>
                                                      <p><i class="fa fa-calendar-check-o"></i>15 Jan, 2018</p>
                                                   </div>
                                                   <div class="candidate-text-inner">
                                                      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                                      <a href="#" class="reply">reply</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="single-comment-history reply-commnt">
                                          <div class="single-comment-list">
                                             <div class="main-comment">
                                                <div class="candidate-image">
                                                   <img alt="author" src="assets/img/msg-3.png">
                                                </div>
                                                <div class="candidate-text">
                                                   <div class="candidate-info">
                                                      <div class="candidate-title">
                                                         <h3><a href="#">Eric Alsobrook</a></h3>
                                                      </div>
                                                      <p><i class="fa fa-calendar-check-o"></i>15 Jan, 2018</p>
                                                   </div>
                                                   <div class="candidate-text-inner">
                                                      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                                      <a href="#" class="reply">reply</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="single-comment-history ">
                                          <div class="single-comment-list">
                                             <div class="main-comment">
                                                <div class="candidate-image">
                                                   <img alt="author" src="assets/img/msg-1.png">
                                                </div>
                                                <div class="candidate-text">
                                                   <div class="candidate-info">
                                                      <div class="candidate-title">
                                                         <h3><a href="#">David Johnson</a></h3>
                                                      </div>
                                                      <p><i class="fa fa-calendar-check-o"></i>15 Jan, 2018</p>
                                                   </div>
                                                   <div class="candidate-text-inner">
                                                      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eu velit cursus, tempor ipsum in, tempus lectus. Nullam tempus nisi id nisl luctus, non tempor justo molestie.</p>
                                                      <a href="#" class="reply">reply</a>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <div class="leave-comment ">
                                 <h3>Leave a comment</h3>
                                 <form>
                                    <input type="text" placeholder="Name" name="name" class="ns-com-name">
                                    <input type="email" placeholder="Email" name="email" class="ns-com-name">
                                    <textarea name="comment" placeholder="Comment..." class="comment"></textarea>
                                    <button type="submit">post comment</button>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="list-sidebar margin-top">
                      
                     <!-- Single Widget Start -->
                     <div class="single-sidebar-widget">
                        <h3 class="sidebar-widget-title">search post:</h3>
                        <input type="text" id="releasedate" placeholder="Select Date">
                     </div>
                     <!-- Single Widget End -->
                      
                     <!-- Single Widget Start -->
                     <div class="single-sidebar-widget">
                        <h3 class="sidebar-widget-title">by Tags:</h3>
                        <ul class="tags-post">
                           <li><a href="#">fashion</a></li>
                           <li><a href="#">travel</a></li>
                           <li><a href="#">blog</a></li>
                           <li><a href="#">science</a></li>
                           <li><a href="#">computer</a></li>
                           <li><a href="#">entertainment</a></li>
                           <li><a href="#">travel</a></li>
                           <li><a href="#">blog</a></li>
                           <li><a href="#">science</a></li>
                        </ul>
                     </div>
                     <!-- Single Widget End -->
                      
                     <!-- Single Widget Start -->
                     <div class="single-sidebar-widget">
                        <h3 class="sidebar-widget-title">by Categories:</h3>
                        <ul class="category-post">
                           <li><a href="#">fashion</a></li>
                           <li><a href="#">travel</a></li>
                           <li><a href="#">entertainment</a></li>
                           <li><a href="#">blog</a></li>
                           <li><a href="#">science</a></li>
                           <li><a href="#">computer</a></li>
                           <li><a href="#">travel</a></li>
                        </ul>
                     </div>
                     <!-- Single Widget End -->
                      
                     <!-- Single Widget Start -->
                     <div class="single-sidebar-widget">
                        <h3 class="sidebar-widget-title">coming soon:</h3>
                        <div class="coming-soon-slider owl-carousel">
                           <div class="single-comingsoon-slider">
                              <div class="comingsoon-img">
                                 <img src="assets/img/news-1.jpeg" alt="slider" />
                              </div>
                              <div class="comingsoon-text">
                                 <h4>into the wild</h4>
                                 <p>Release on: <span>20 dec,2018</span></p>
                              </div>
                           </div>
                           <div class="single-comingsoon-slider">
                              <div class="comingsoon-img">
                                 <img src="assets/img/news-2.jpeg" alt="slider" />
                              </div>
                              <div class="comingsoon-text">
                                 <h4>blade runner </h4>
                                 <p>Release on: <span>20 dec,2018</span></p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Single Widget End -->
                      
                     <!-- Single Widget Start -->
                     <div class="single-sidebar-widget">
                        <h3 class="sidebar-widget-title">top movies:</h3>
                        <div class="top-movie-list">
                           <div class="sidebar-top-movie tablet-view">
                              <div class="sidebar-top-movie-left">
                                 <a href="#">
                                 <img src="assets/img/top_1.jpeg" alt="top movie" />
                                 </a>
                              </div>
                              <div class="sidebar-top-movie-right">
                                 <h3><a href="#">Busting Car</a></h3>
                                 <p>Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <h4 class="director">Movie Director - <span>Jhon Doe</span></h4>
                                 <div class="top-action">
                                    <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- Single Widget End -->
                      
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog Page End -->
       
      {% include 'include/footer.html' %}     
      {% endblock %}
      

