{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
   
      <!-- Breadcrumb Area End -->
       
       
      <!-- Header Area Start -->
      <header class="filmoja-header-area">
         
         <!-- Main Header Area End -->
          
      </header>
      <!-- Header Area End -->
                  
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>Фильмы смотреть онлайн</h2>
                     <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active-breadcromb">Список фильмов</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>   
      <!-- Movie List Area Start -->
      <section class="filmoja-movie-list-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="browse-option-box">
                     <div class="total-item-show">
                        <p> {{ all_movies.count }} </p>
                     </div>
                     <div class="total-item-show sorter">
                        <p>Сортировать по </p>
                        <select>
                           <option value="popularity">Descending</option>
                           <option value="popularity">Ascending</option>
                           <option value="rating">Rating</option>
                           <option value="date">Release date</option>
                        </select>
                     </div>
                  </div>
                  <div class="movie-grid-box">
                     <div class="row">
                        {% for movies in all_movies %}   
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">{{ movies.title }}</a></h3>
                                 <p class="list-genre">{{ movies.genre }}</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>{{ movies.rating }}</li>
                                    <li class="dsc">{{ movies.age }}+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i> {{ movies.like_movie}}</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left" style="font-style: italic;">
                                       <p>Директор: <span>{{ movies.director_film }} </span></p>
                                       <p>Дата: <span>{{ movies.created }}</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="{{ movies.movie_trailer }}" class="popup-youtube"><i class="fa fa-play"></i> Смотреть трейлер</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {% endfor %}   
                     </div>
                  </div>
               </div>
            </div>
         </div>

                  <!-- Pagination Start -->
                  <div class="pagination-box-row responsive-pag margin-top">
                     <p>Page 1 of 6</p>
                     <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                     </ul>
                  </div>
                  <!-- Pagination End -->
               </div>
            </div>
         </div>
      </section>
      <!-- Movie List Area End -->
       
      {% include 'include/footer.html' %}     
      {% endblock %}
      