{% extends 'bootstrap/bootstrap.html' %}
{% load static %}
{% block content %}
{% include 'include/header.html' %}
              
      <!-- Breadcrumb Area Start -->
      <section class="filmoja-breadcrumb-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="breadcrumb-box">
                     <h2>Фильмы смотреть онлайн</h2>
                     <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active-breadcromb">Список фильмов</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb Area End -->
       
       
      <!-- Movie List Area Start -->
      <section class="filmoja-movie-list-area section_70">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="browse-option-box">
                     <div class="total-item-show">
                        <p>Все Фильмы</p>
                     </div>
                     <div class="total-item-show sorter">
                        <p>Сортировать по</p>
                        <select>
                           <option value="popularity">Жанр</option>
                           <option value="popularity"> Популярные </option>
                           <option value="rating">Рейтинг</option>
                           <option value="date">Выход дата </option>
                        </select>
                     </div>
                  </div>
                  <div class="movie-grid-box">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-5.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">Dareing Joker</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     <!-- End Row -->
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-2.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">racing field</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-1.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">Blood Day war</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-4.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">Mr. Cartoon</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                     </div>
                     <!-- End Row -->
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-5.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">Dareing Joker</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/movie-list-3.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">runnig shoot</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-lg-4">
                           <div class="single-movie-list movie-grid-layout full-grid">
                              <div class="single-movie-list-left">
                                 <a href="#">
                                 <img src="assets/img/news-1.jpeg" alt="top movie">
                                 </a>
                              </div>
                              <div class="single-movie-list-right">
                                 <h3><a href="#">Busting Car</a></h3>
                                 <p class="list-genre">Acation</p>
                                 <ul>
                                    <li class="rating"><i class="fa fa-star"></i>4.5</li>
                                    <li class="dsc">HD</li>
                                    <li class="dsc">16+</li>
                                 </ul>
                                 <div class="movie-details-thumbs">
                                    <ul>
                                       <li>
                                          <a href="#"><i class="fa fa-thumbs-up"></i>
                                          256</a>
                                       </li>
                                       <li>
                                          <a href="#"><i class="fa fa-eye"></i>45</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="movie-list-info">
                                    <div class="list-info-left">
                                       <p>Director: <span>Jhon Doe</span></p>
                                       <p>Release: <span>12 Dec,2017</span></p>
                                    </div>
                                    <div class="top-action">
                                       <a href="https://www.youtube.com/watch?v=1Q8fG0TtVAY" class="popup-youtube"><i class="fa fa-play"></i> Watch Trailer</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- End Col -->
                     </div>
                     <!-- End Row -->
                  </div>
                  <!-- Pagination Start -->
                  <div class="pagination-box-row responsive-pag margin-top">
                     <p>Page 1 of 6</p>
                     <ul class="pagination">
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>...</li>
                        <li><a href="#">6</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                     </ul>
                  </div>
                  <!-- Pagination End -->
               </div>
            </div>
         </div>
      </section>
      <!-- Movie List Area End -->
       
      {% include 'include/footer.html' %}     
      {% endblock %}
      